# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

In [2]:
insurance_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [3]:
insurance_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.
insurance_data.shape

(4008, 11)

In [5]:
# Displaying the columns
insurance_data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [6]:
# State and gender have to be adapted to the same form as the other column header
insurance_data = insurance_data.rename(columns={'ST':'State',
                            'GENDER':'Gender'})

insurance_data.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [7]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
insurance_data.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [8]:
# The data type object is not appropriate for the nature of the variable Customer Lifetime Value
# The data type should be float

In [9]:
# You should also provide suggestions for fixing any incorrect data types.
# Change data type of Customer Lifetime value to float
insurance_data['Customer Lifetime Value'] = pd.to_numeric(insurance_data['Customer Lifetime Value'], errors='coerce')

nan_count = insurance_data['Customer Lifetime Value'].isna().sum()
nan_count

4008

Note to myself (not importnant)

insurance_data['Customer Lifetime Value']: Dieser Teil wählt die Spalte 'Customer Lifetime Value' aus dem DataFrame 'insurance_data' aus.

pd.to_numeric(): Dies ist die Funktion, die die Umwandlung in numerische Werte durchführt.

errors='coerce': Dieser Parameter gibt an, wie mit nicht konvertierbaren Werten umgegangen werden soll. Wenn 'coerce' angegeben ist, werden Werte, die nicht in numerische Werte umgewandelt werden können, zu NaN (Not a Number) konvertiert.

In [10]:
# Replace all NaN values of the Customer Lifetime column with 0
insurance_data['Customer Lifetime Value'].fillna(0, inplace=True)

# Change data type of Customer Lifetime to a percentage value
insurance_data['Customer Lifetime Value'] = insurance_data['Customer Lifetime Value'] / 100

# Round the percentage value to 4 decimal places
insurance_data['Customer Lifetime Value'] = insurance_data['Customer Lifetime Value'].round(2)

In [25]:
unique_genders = insurance_data['Gender'].unique()
unique_genders

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [70]:
# Gender values only Female, Male, change nan values to Unknown

def replace_nan_with_unknown(dataframe):
    dataframe['Gender'] = dataframe['Gender'].fillna('Unknown')
    return dataframe

def replace_gender_values(dataframe):
    dataframe['Gender'] = dataframe['Gender'].replace(['F', 'female', 'Femal'], 'Female')
    return dataframe

def replace_male_values(dataframe):
    dataframe['Gender'] = dataframe['Gender'].replace('M', 'Male')
    return dataframe

insurance_data = replace_nan_with_unknown(insurance_data)
insurance_data = replace_gender_values(insurance_data)
insurance_data = replace_male_values(insurance_data)

In [71]:
unique_genders = insurance_data['Gender'].unique()
unique_genders

array(['Unknown', 'Female', 'Male'], dtype=object)

In [72]:
# Not successful when trying to do following changes

# insurance_data['total Claim Amount in millions'] = insurance_data['total Claim Amount'] / 1000000
# insurance_data.drop('total Claim Amount', axis=1, inplace=True)

In [73]:
insurance_data.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

In [74]:
# Identify the number of unique values for each column
insurance_data.nunique()

Customer                     1071
State                           8
Gender                          3
Education                       6
Customer Lifetime Value         1
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [75]:
# determine which columns appear to be categorical

categorical_columns = insurance_data.select_dtypes(include=['object', 'category']).columns
categorical_columns

Index(['Customer', 'State', 'Gender', 'Education', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class'],
      dtype='object')

In [76]:
# determine which columns appear to be numerical

numerical_columns = insurance_data.select_dtypes(include=['int64', 'float64']).columns
numerical_columns

Index(['Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Total Claim Amount'],
      dtype='object')

In [77]:
categorical_info = {}
numerical_info = {}

In [78]:
# describe the unique values of each categorical column

for column in categorical_columns:
    column_info = insurance_data[column].value_counts()
    categorical_info[column] = column_info
    display(categorical_info[column])

RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: Customer, Length: 1071, dtype: int64

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: State, dtype: int64

Unknown    3054
Female      502
Male        452
Name: Gender, dtype: int64

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

In [79]:
numerical_description = insurance_data[numerical_columns].describe()
numerical_description

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,4008.0,1071.000000,1071.000000,1071.000000
mean,0.0,39295.701214,193.234360,404.986909
std,0.0,30469.427060,1601.190369,293.027260
min,0.0,0.000000,61.000000,0.382107
25%,0.0,14072.000000,68.000000,202.157702
50%,0.0,36234.000000,83.000000,354.729129
75%,0.0,64631.000000,109.500000,532.800000
max,0.0,99960.000000,35354.000000,2893.239678

In [80]:
# Calculate the range of values for numerical columns

range_info = {}

for column in numerical_columns:
    min_value = insurance_data[column].min()
    max_value = insurance_data[column].max()
    column_range = max_value - min_value
    range_info[column] = {'Column': column, 'range': column_range}
    display(range_info[column])

{'Column': 'Customer Lifetime Value', 'range': 0.0}

{'Column': 'Income', 'range': 99960.0}

{'Column': 'Monthly Premium Auto', 'range': 35293.0}

{'Column': 'Total Claim Amount', 'range': 2892.857571}

In [81]:
# Calculate mean, median, standard deviation
mean_values = insurance_data[numerical_columns].mean()
median_values = insurance_data[numerical_columns].median()
std_deviation_values = insurance_data[numerical_columns].std()

# Calculate mode (note: mode can have multiple values)
mode_values = insurance_data[numerical_columns].mode().iloc[0]

# Calculate quartiles (25th, 50th, and 75th percentiles)
quartiles = insurance_data[numerical_columns].quantile([0.25, 0.5, 0.75])

# Display the summary statistics
print("Summary Statistics for Numerical Columns:")
print(f"Mean:\n{mean_values}")
print(f"Median:\n{median_values}")
print(f"Standard Deviation:\n{std_deviation_values}")
print(f"Mode:\n{mode_values}")
print(f"Quartiles:\n{quartiles}")

Summary Statistics for Numerical Columns:
Mean:
Customer Lifetime Value        0.000000
Income                     39295.701214
Monthly Premium Auto         193.234360
Total Claim Amount           404.986909
dtype: float64
Median:
Customer Lifetime Value        0.000000
Income                     36234.000000
Monthly Premium Auto          83.000000
Total Claim Amount           354.729129
dtype: float64
Standard Deviation:
Customer Lifetime Value        0.000000
Income                     30469.427060
Monthly Premium Auto        1601.190369
Total Claim Amount           293.027260
dtype: float64
Mode:
Customer Lifetime Value      0.0
Income                       0.0
Monthly Premium Auto        65.0
Total Claim Amount         321.6
Name: 0, dtype: float64
Quartiles:
      Customer Lifetime Value   Income  Monthly Premium Auto  \
0.25                      0.0  14072.0                  68.0
0.50                      0.0  36234.0                  83.0
0.75                      0.0  64631.0                 109.5

      Total Claim Amount
0.25          202.157702
0.50          354.729129
0.75          532.800000

In [82]:
# Calculate summary statistics for categorical columns

categorical_statistics = insurance_data[categorical_columns].describe()

print("Summary Statistics for Categorical Columns:")
print(categorical_statistics)

Summary Statistics for Categorical Columns:
       Customer   State   Gender Education Number of Open Complaints  \
count      1071    1071     4008      1071                      1071
unique     1071       8        3         6                         6
top     RB50392  Oregon  Unknown  Bachelor                    1/0/00
freq          1     320     3054       324                       830

          Policy Type  Vehicle Class
count            1071           1071
unique              3              6
top     Personal Auto  Four-Door Car
freq              780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [83]:
location_counts = insurance_data['State'].value_counts()
location_counts

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: State, dtype: int64

In [84]:
top_5_less_common = location_counts.nsmallest(5)
print(top_5_less_common)

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: State, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [85]:
# policy types and their total number of policies sold

policy_counts = insurance_data['Policy Type'].value_counts()
policy_counts

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [86]:
# policy type with the highest number of policies sold
most_sold_policy = policy_counts.idxmax()
most_sold_policy

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [87]:
# Use loc to create two dataframes: one containing only Personal 
# Auto policies and one containing only Corporate Auto policies.
# Print the results

personal_auto_df = insurance_data.loc[insurance_data['Policy Type'] == 'Personal Auto']
corporate_auto_df = insurance_data.loc[insurance_data['Policy Type'] == 'Corporate Auto']

In [88]:
personal_auto_df

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,Unknown,Master,0.0,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,Female,Bachelor,0.0,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,0.0,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,Male,High School or Below,0.0,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,Female,Bachelor,0.0,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,Male,Bachelor,0.0,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,Male,Master,0.0,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,Female,High School or Below,0.0,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,Female,Bachelor,0.0,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,Female,College,0.0,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [89]:
corporate_auto_df

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,Male,Bachelor,0.0,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,Female,College,0.0,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,Male,Master,0.0,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,Male,Bachelor,0.0,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,Unknown,Master,0.0,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
...,...,...,...,...,...,...,...,...,...,...,...
1045,WZ31900,Oregon,Female,Bachelor,0.0,94389.0,107.0,1/0/00,Corporate Auto,SUV,85.063708
1050,BJ53923,Arizona,Male,High School or Below,0.0,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1052,FB23788,Oregon,Male,High School or Below,0.0,86721.0,111.0,1/0/00,Corporate Auto,SUV,532.800000
1056,PI47776,Oregon,Female,Bachelor,0.0,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1059,YG44474,Oregon,Male,College,0.0,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945

In [90]:
# Calculate the average income for each policy. Print the results.


average_income_personal_auto = personal_auto_df['Income'].mean()
average_income_corporate_auto = corporate_auto_df['Income'].mean()

In [91]:
average_income_personal_auto

38180.69871794872

In [92]:
average_income_corporate_auto

41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here